.hud-container {
  position: absolute;
  bottom: 1%;  
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  pointer-events: none;
}

.hud-marco {
  background: #00000042;
  border: 2px solid #555;
  border-radius: 12px;
  padding: 0.5% 1%;
}

/* BARRAS */
.bars {
  margin-bottom: 10px;
}

.bar {
  width: 250px;
  height: 10px;
  background: #222;
  margin: 4px auto;
  border-radius: 4px;
  overflow: hidden;
}

.bar div {
  height: 100%;
}

.health div {
  background: red;
}

.stamina div {
  background: cyan;
}

/* HABILIDADES */
.abilities {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.ability {
  width: 60px;
  height: 60px;
  background: #111;
  border: 2px solid #555;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TECLA */
.key {
  position: absolute;
  bottom: 2px;
  right: 4px;
  font-size: 12px;
  color: white;
}

/* COOLDOWN */
.cooldown {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}